@font-face {
    font-family: "shabnam";
    src: url("../fonts/shabnam.eot") format("eot");
    src: url("../fonts/shabnam.ttf") format("truetype"), url("../fonts/shabnam.woff") format("woff");
}

@font-face {
    font-family: "Yekan";
    src: url("../fonts/Yekan.eot") format("eot");
    src: url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-shadow: none !important;
}

body {
    font-family: "shabnam";
    overflow-x: hidden;
}

.section {
    padding: 100px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul a {
    font-size: 19px !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ff8f00;
}

nav .brand-logo {
    position: relative !important;
}

.home {
    background: url("../img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.home .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

.home .home-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.home .home-content h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 8px;
}

.home .home-content p {
    font-size: 30px;
    margin-top: 20px;
}

.home .scroll-down {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    animation: scrollDown 2s ease infinite;
    -webkit-animation: scrollDown 2s ease infinite;
}

@keyframes scrollDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

.home .scroll-down img {
    width: 30px;
}

/* about */

.about {
    width: 100%;
}

.about img {
    width: 100%;
}

.about .about-content h4 {
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about .about-content h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #ff8f00;
}

.about .about-content p {
    line-height: 25px;
    font-size: 15px;
}

.about .about-item {
    text-align: center;
    margin-top: 100px;
}

.about .about-item h4 {
    font-family: "Yekan";
}

.about button {
    background: #ff8f00;
    border: none;
    font-size: 18px;
    color: #fff;
    margin-top: 40px;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}

/* serveice */

.service {
    width: 100%;
}

.service h4 {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.service h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #ff8f00;
}

.service .service-item {
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

.service .service-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.service .service-item img {
    width: 100%;
    height: 300px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.service .service-item span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service .service-item span p {
    font-size: 25px;
    color: #fff;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service .service-item:hover span {
    opacity: 0;
}

.service .service-item:hover span p {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    opacity: 0;
}

/* work */

.work {
    width: 100%;
}

.work h4 {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.work h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #ff8f00;
}

.work .work-item {
    margin-top: 20px;
}

.work .work-item-inner {
    position: relative;
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
}

.work .work-item .work-item-inner {
    height: 100%;
}

.work .work-item img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.work .work-item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.work .work-item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.work .work-item:hover span {
    background: rgba(0, 0, 0, 0.8);
}

.work .work-item span svg {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 25px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.work .work-item span p {
    position: absolute;
    bottom: 10px;
    right: 150px;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.work .work-item:hover svg,
.work .work-item:hover p {
    opacity: 1;
}

.work .work-item:hover p {
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
}

/* lightbox */

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox.open {
    display: flex;
}

.lightbox .img-box {
    width: 1200px;
    height: 800px;
    padding: 60px 0;
    position: relative;
}

.lightbox .img-box .close {
    position: absolute;
    top: 0;
    right: 0;
}

.lightbox .img-box .close svg {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.lightbox .img-box .lightbox-img {
    width: 100%;
    height: 100%;
}

.lightbox .img-box .lightbox-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.lightbox .img-box .lightbox-control {
    position: absolute;
    top: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;

    font-size: 30px;
}

.lightbox .img-box .lightbox-control .next {
    position: absolute;
    right: 30px;
    cursor: pointer;
    width: 20%;

    height: 100%;
    display: flex;
    align-items: center;
}

.lightbox .img-box .lightbox-control .prev {
    position: absolute;
    left: 30px;
    cursor: pointer;
    width: 20%;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.lightbox .img-box .lightbox-control .next svg,
.lightbox .img-box .lightbox-control .prev svg {
    width: 40px;
    height: 40px;
}

.lightbox .img-box .lightbox-control .next:hover svg,
.lightbox .img-box .lightbox-control .prev:hover svg {
    background: rgba(0, 0, 0, 0.7);
}

/* contact */

.contact {
    width: 100%;
}

.contact .contact-img {
    width: 100%;
    background: url("../img/contact-bg.jpg");
    padding: 200px 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-img .title h4 {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.contact .contact-img .title h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #ff8f00;
}

.contact .contact-desc {
    width: 100%;
    padding: 0 65px;
}

.contact .contact-desc form {
    margin-top: -100px;
    background: #fff;
    padding: 45px;
    box-sizing: border-box;
}

.input-field > label {
    position: relative;
    font-size: 12px;
}

.contact .form-btn {
    width: 100%;
    text-align: center;
}

.contact button {
    background: #ff8f00;
    color: #fff;
    padding: 10px 75px;
    border: 2px solid #ff8f00;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.contact button:hover {
    background: transparent;
    color: #000;
    cursor: pointer;
}

.contact .info {
    text-align: center;
}

.contact .info h6 {
    color: rgb(95, 95, 95);
}

.contact .info p {
    color: #999;
}

.contact .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contact .social ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .social ul li {
    margin: 0 20px;
}

.contact .social ul li a {
    color: #777;
}

.contact .social ul li a svg {
    font-size: 35px;
}

/* footer */

footer {
    border-top: 2px solid #999;
    padding: 50px 0;
    text-align: center;
}

footer .fa-heart {
    color: rgb(185, 0, 0);
}

footer .fa-code {
    color: rgb(5, 92, 143);
}

footer h6 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .about .about-item h4 {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .about button {
        margin-bottom: 30px;
    }

    .lightbox .img-box {
        width: 700px;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .home .home-content h1 {
        font-size: 20px;
    }

    .home .home-content p {
        font-size: 17px;
    }

    .lightbox .img-box {
        width: 85%;
    }
}

@media screen and (max-width: 400px) {
    .home .home-content h1 {
        font-size: 15px;
    }
}
